<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="WebAPI.DB" connectionString="Data Source=D114;Initial Catalog=WebAPI;Integrated Security=True;Current Language=Spanish;" providerName="System.Data.SqlClient"/>
    <add name="WebApiToDoList_DB" connectionString="Data Source=DESKTOP-D106UMJ\MSSQLSERVER01;Initial Catalog=ToDoList_DB;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="Task_DBMysql" value="MySqlConnectionString" />
    <add key="ToDoList_DB" value="WebApiToDoList_DB" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.17.0" newVersion="8.0.17.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>